
{{#liveeditorlink}}{{{liveeditorlink}}}{{/liveeditorlink}}
<div class="block-content">
{{#blockcss}}<link href="{{blockcss}}" rel="stylesheet"></link>{{/blockcss}}
{{#blockstyle}}<link href="{{blockstyle}}" rel="stylesheet"></link>{{/blockstyle}}

{{{blockhtml}}}

{{! Script to Inject another script into html }}
<script type='text/javascript' id='block-script'>{{{blockjs}}}</script>
</div>
